@import '../../styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .menu-sidebar ::ng-deep .scrollable {
    padding-top: nb-theme(layout-padding-top);
  }

  .loading {
    position: absolute;
    top: 0;
    background-color: rgba(255, 255, 255, 0.6);
    width: 99%;
    height: 99%;
    z-index: 1100;
  }

  mat-spinner {
    position: absolute;
    width: 4%;
    top: 47%;
    left: 47%;
    transform: translate(-50%, -50%);
    z-index: 1101;
  }
}
