// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';
// @angular out of the box themes
@import '~@angular/material/theming';
@include mat-core();

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: #f7f9fc,
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
), default, default);

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: #252547,
  slide-out-shadow-color: 2px 0 3px #29157a,
  slide-out-shadow-color-rtl: -2px 0 3px #29157a,
), cosmic, cosmic);

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: linear-gradient(270deg, #edf1f7 0%, #e4e9f2 100%),
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
), corporate, corporate);

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: linear-gradient(270deg, #222b45 0%, #151a30 100%),
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
), dark, dark);

.default {
  $my-default-primary: mat-palette($mat-gray, 50);
  $my-default-accent: mat-palette($mat-green, 400);
  $my-default-warn: mat-palette($mat-grey);

  $my-default-theme: mat-light-theme($my-default-primary, $my-default-accent, $my-default-warn);

  @include angular-material-theme($my-default-theme);
}

.cosmic {
  $my-cosmic-primary: mat-palette($mat-indigo, 50);
  $my-cosmic-accent: mat-palette($mat-green, 400);
  $my-cosmic-warn: mat-palette($mat-red, 400);

  $my-cosmic-theme: mat-dark-theme($my-cosmic-primary, $my-cosmic-accent, $my-cosmic-warn);

  @include angular-material-theme($my-cosmic-theme);
}

.corporate {
  $my-corporate-primary: mat-palette($mat-red, 900);
  $my-corporate-accent: mat-palette($mat-green, 900);
  $my-corporate-warn: mat-palette($mat-grey, 900);

  $my-corporate-theme: mat-light-theme($my-corporate-primary, $my-corporate-accent, $my-corporate-warn);

  @include angular-material-theme($my-corporate-theme);
}

.dark {
  $my-dark-primary: mat-palette($mat-indigo, 50);
  $my-dark-accent: mat-palette($mat-green, 400);
  $my-dark-warn: mat-palette($mat-red, 400);

  $my-dark-theme: mat-dark-theme($my-dark-primary, $my-dark-accent, $my-dark-warn);

  @include angular-material-theme($my-dark-theme);
}
